html, body {margin: 0; padding: 0; width: 100%; height: 100%; font-size: 16px; font-family: "맑은 고딕"; text-align: left; color: #666;}
ul, li, ol, h1, h2, h3, h4 {margin: 0; padding: 0;list-style: none;}
a {text-decoration: none; color: inherit}

#main {color:#969}
#sub {color:#c99}

.clear:after {clear: both; content: ""; display: block;}

.wrap {width: 1000px; margin: 0 auto}
.header {width: 1000px; height: 180px; background: #fff}
.logo {float: left;}
.navs {float: right;text-align: center; z-index: 10;}
.nav {float: left; width: 200px; height: 180px; line-height: 100px; text-align: center;}
.nav > div:hover {background: rgba(152,103,152,0.8); color: #fff; cursor: pointer;}


.submenu {line-height: 40px; background: rgba(102,102,102,0.7); color: white; display: none}
.submenu > li {color: #fff}
.submenu > li:hover {background: rgba(255,255,255,0.5)}

.banner {width: 1000px; height: 350px; position: relative;  overflow: hidden; z-index: -1;}
.slide {position: absolute;width: 3000px; height: 350px; top: 0; left: 0; z-index: -1;}
.slide > li {float: left;}

.welcome {position: absolute;width: 350px; height: 120px; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; background: rgba(255,255,255,0.4); color: #fff; border-radius: 25px;}
.welcome h2 {line-height: 120px;}

.btn-slide {position: absolute;width: 350px; height: 40px; text-align: center; top: 450px; left: 50%; transform: translateX(-38%); border-radius: 25px; color: #fff;z-index: 9999;}
.btn-prev {font-size: 2rem; cursor: pointer; float: left; z-index: 9999;}
.btn-prev:hover {background: rgba(255,255,255,0.5);}
.btn-next:hover {background: rgba(255,255,255,0.5);}
.btn-next {float: right; font-size: 2rem; cursor: pointer; z-index: 9999;}

contents {width: 1000px; margin: 0 auto}
.notice {width: 500px; float: left;}
.notice h2 {text-align: center; padding: 15px;}
table {/* line-height: 30px; */ border-collapse: collapse}
.table {color: #666}
.table tr>th {text-align: center;/* padding: 5px 5px 0; */}
.table tr>td {/* line-height: 40px; */ height: 30px;}
.table tr:nth-child(2n) {background: rgba(152,103,152,0.5)}
.table tr:nth-child(2n+2) {padding-left: 50px;}

.partner {width: 50%; float: left;}
.partner h2 {text-align: center; padding: 15px;}
.partner_info {text-align: center; cursor: pointer}
.partner_info img {width: 100%; height: 280px;}

.icon {width: 1000px; margin: 0 auto; float: left; margin-bottom: 30px;}
.icons {width: 30%; height: 300px; float: left;}
.icons img {width:220px; text-align: center}
.icon-btn {width: 150px; height: 40px; border-radius: 10px; background: rgba(152,103,152,0.5); text-align: center; line-height: 50px; padding: 20px; margin-left: 50px;}

footer {width: 1000px; height: 150px; padding: 30px}
.footer {background: rgba(152,103,152, 0.5)}
.legal {float: left; width: 50%; height: 150px; padding: 20px;}
.legal > li {color: white}
p {color: white}
p > span {color: black}

#modal-bg {position: absolute;width: 100%; height: 100%; background: rgba(0,0,0,0.8); top: 0; left: 0; display: none}
#modal-wrap {position: absolute;width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; display: none}
#modal-body {width: 400px; height: 300px; background: white; top: 20%; left: 50%; transform: translateX(-50%); }
#modal-body img {width: 100%; height: 100%}